.skills div {
    margin-right: 5rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.skills div img {
    height: 7rem;
    border-radius: 0% !important;
}

@media screen and (max-width: 1023px) {
    .skills {
        height: 70vh;
        margin-left: 3em;
        margin-top: -3em;
    }

    .skills div {
        margin-bottom: 1em;
    }

    .skills div img {
        height: 5rem;
    }
}

@media screen and (min-width: 769px) and (max-width:1023px) {
    .skills {
        margin-top : -8rem;
    }
    .skills div {
        margin-right: 2rem;
    }
}